{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="category-item column">
			<h6 class="category-item__header">
				<span class="header__title">Add New Instrument</span>
				<span class="header__bar"></span>
			</h6>
			<form action="#" method="post" class="category-item__form">
				<fieldset>
					<label for="" class="form__label">Name:</label>
					<input type="text" name="name" class="form__input">
					<label for="" class="form__label">Description:</label>
					<textarea name="description" id="" cols="30" rows="10" class="form__textarea"></textarea>
					<label for="" class="form__label">Category:</label>
					<select class="form__select" name="category">
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name}}</option>
						{% endfor %}
					</select>
				</fieldset>
				<input type="submit" value="add instrument">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							 <p class="flash__message">{{ message }}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</form>
		</div>
	</div>

{% endblock %}